<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for booking your flight through flightbooker.com, <%= @passenger.name %>!</h1>
    <p>You have successfully booked a flight with flightbooker.com!</p><br />
    <p>Have a great day!</p>
  </body>
</html>
